
<ion-content style="background-color:#3D3570;">
  <div class="bar bar-header bar-stable">
<h1 class="title">bar-stable</h1>
</div>

  <div>
      <br>
  </div>
  <div>
      <br>
  </div>
  <button ng-click="play('horn1')" class="button hornButton">
    <span>Go Vikes!</span>
  </button>
</ion-content>
<style>
.hornButton {
  background: url(img/horn.png);
  background-size: 240px 170px;
  height: 280px;
  width: 280px;
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: 40px;
}
.hornButton span {
      display: block;
    margin-top: -114px;
}
</style>
